<html>
<body>
<h1>LinkedIn 0.0.0.0.0.0.1</h1>
<h2>Work History for <em>{{name}}</em>:</h2>

<h3>Jobs ({{jobs.count()}}):</h3>
<!-- <h4>{{jobs}}</h4> -->
<ol>{%for job in jobs%}
    <li>{{job.title}} at {{job.employer.name}}</li>
{%endfor%}</ol>


<h3>Titles ({{titles.count()}}):</h3>
<ol>{%for title in titles%}
	<li>{{title[0]}}</li>
{%endfor%}</ol>

<h3>Employers ({{employers.count()}}):</h3>
<ol>{%for employer, num_jobs in employers%}
	<li>{{employer}} ({{num_jobs}} jobs)</li>
{%endfor%}</ol>

</body>
</html>